PAYPAL_CLIENT_ID=replace_me
PAYPAL_CLIENT_SECRET=replace_me
PAYPAL_WEBHOOK_ID=replace_me
PAYPAL_MONTHLY_PLAN_ID=P-5A732455WD357910VNLCM37I
PAYPAL_YEARLY_PLAN_ID=P-34449918MF5203113NLCM3DI
PAYPAL_ENVIRONMENT=sandbox
RESEND_API_KEY=re_replace_me
RESEND_FROM_EMAIL=Sentinel <accounts@example.com>
APP_URL=http://localhost:8443
